
<!DOCTYPE html>
<html>
  <head>
    <title>New Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/new">
        <h2>Send a message</h2>
        <input class="text-input" type="text" name="text" placeholder="Text" required>
        <input class="author-input" type="text" name="author" placeholder="Author" required>
        <input class="submit" type="submit" value="Send">
    </form>
  </body>
</html>