body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

.title {
  margin-top: 100px;
}

.messages {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

.message {
  display: grid;
  grid-template-areas: "t t"
  "a d";
  padding: 20px 30px;
  height: 100px;
  border: 1px solid black;
  grid-gap: 0 50px;
  border-radius: 3px;
  justify-items: start;
}

.message-text {
  grid-area: t;
}

.message-author {
  grid-area: a;
  font-size: 0.7em;
}

.message-date {
  grid-area: d;
  font-size: 0.7em;
}

form {
  width: 300px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text-input, .author-input {
  height: 30px;
  padding: 0 10px;
}

.submit {
  padding: 10px 15px;
  width: 100px;
}
